*
!.bashrc
!.config
!.config/fish
!.config/fish/config.fish
!.config/fish/functions
!.config/fish/functions/fish_greeting.fish
!.config/kitty
!.config/kitty/current-theme.conf
!.config/kitty/kitty.conf
!.config/nvim
!.config/nvim/coc-settings.json
!.config/nvim/init.vim
!.config/picom
!.config/picom/picom.conf
!.config/starship.toml
!.config/xmobar
!.config/xmobar/xmobarrc
!.gitconfig
!.gitignore
!.tmux.conf
!.xmonad
!.xmonad/icons
!.xmonad/icons/fynn.xpm
!.xmonad/xmonad.hs
!.xprofile
!README.md
