*
!.bashrc
!.config
!.config/bat
!.config/bat/themes
!.config/bat/themes/catppuccin.tmTheme
!.config/cava
!.config/cava/config
!.config/dmenu
!.config/dmenu/config.h
!.config/dunst
!.config/dunst/dunstrc
!.config/fish
!.config/fish/config.fish
!.config/fish/functions
!.config/fish/functions/fish_greeting.fish
!.config/fish/functions/fish_user_key_bindings.fish
!.config/kitty
!.config/kitty/kitty.conf
!.config/neofetch
!.config/neofetch/config.conf
!.config/nvim
!.config/nvim/init.lua
!.config/nvim/stylua.toml
!.config/picom
!.config/picom/picom.conf
!.config/starship.toml
!.gitconfig
!.gitignore
!.xmonad
!.xmonad/icons
!.xmonad/icons/fynn.xpm
!.xmonad/icons/sharingan.xpm
!.xmonad/xmobar.hs
!.xmonad/xmonad.hs
!.xprofile
!LICENSE
!README.md
!bin
!bin/aow
!bin/pokemonsay
!bin/pokemonthink
!bin/push
!bin/setup
!bin/tablet
!bin/wpilib_launcher
!packages.txt
