*
!.bashrc
!.gitignore
!.tmux.conf
!README.md
!.config
!.config/fish
!.config/fish/config.fish
!.config/fish/functions
!.config/fish/functions/fish_greeting.fish
!.config/fish/functions/fish_user_key_bindings.fish
!.config/kitty
!.config/kitty/kitty.conf
!.config/nvim
!.config/nvim/coc-config.json
!.config/nvim/init.vim
